%a{:href => "/#"}
  ="Home"
%table
  %thead
    %tr
      %td
        %strong Name
      %td
        %strong Brewer
      %td
        %strong Style
      %td
        %strong Country
  %tr{:'ng-repeat' => "beer in beers"}
    %td.name
      %a{:'ng-click' => "viewBeer(beer.id)"}
        {{ beer.name }}
    %td.brewer {{ beer.brewer.name }}
    %td.style {{ beer.style.name }}
    %td.country {{ beer.country.name }}
